@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 357 50% 7%;

    --card: 0 0% 100%;
    --card-foreground: 357 50% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 357 50% 7%;

    --primary: 0 48% 51%;
    --primary-foreground: 0 0% 100%;

    --secondary: 188 48% 74%;
    --secondary-foreground: 357 50% 7%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 252 48% 65%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 357 50% 7%;

    --border: 0 0% 78%;
    --input: 0 0% 90%;
    --ring: 0 0% 43.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 357 50% 93%;
    --card: 0 0% 0%;
    --card-foreground: 357 50% 93%;
    --popover: 0 0% 0%;
    --popover-foreground: 357 50% 93%;
    --primary: 0 48% 49%;
    --primary-foreground: 0 0% 0%;
    --secondary: 188 48% 26%;
    --secondary-foreground: 357 50% 93%;
    --muted: 0 0% 80%;
    --muted-foreground: 357 50% 93%;
    --accent: 253 48% 35%;
    --accent-foreground: 357 50% 93%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 358 49% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 253 48% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
